body {
    background: #f1f3f0;
    width: 100%;
    height: 100%;
}

#duoshangwang a {
    text-decoration: none;
}

// #duoshangwang {
//     width: 100%;

    .duo_header {
        background: #3e3e3e;
        width: 100%;
        height: auto;
        color: #fff;
        font-size: 14px;

        .dh_contain {
            width: 1220px;
        background: #3e3e3e;
            margin: 0 auto;
            height: 30px;
            line-height: 30px;
            box-sizing: border-box;
            font-size: 14px;

            .login_left {
                float: left;

                .welcome {
                    margin-right: 26px;

                }

                a {
                    color: #fff;
                }
            }

            .login_right {
                float: right;

                ul {
                    li {
                        margin-right: 44px;
                        float: left;

                        a {
                            color: #fff;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .head {
        background: #f1f3f0;
        padding: 30px 0 0px 0;
        margin-top: 0px;
        // background: red;

        .hd_contain {
            width: 1220px;
            margin: 0 auto;
            height: 90px;

            .logo {
                height: 28px;
                margin-right: 50px;
                width: 210px;
                float: left;
                margin-top: 8px;

                img {
                    width: 153px;
                    opacity: 1;
                }
            }

            .search {
                float: left;
                position: relative;
                z-index: 1;
                padding-left: 0px !important;
                width: 508px;
                margin-right: 62px;

                .top_search {
                    position: relative;
                    width: 508px;
                    height: 35px;
                    border: 1px solid #d8ddd7;
                    background: #fff;
                    border-radius: 12px;
                    padding-left: 36px;
                    box-sizing: border-box;

                    .ttexts {
                        border: 0 none;
                        outline: none;
                        display: block;
                        line-height: 33px;
                        width: 393px;
                    }

                    .sousuo {
                        position: absolute;
                        top: -1px;
                        right: 0;

                        img {
                            opacity: 1;
                        }
                    }

                    .xiangji {
                        position: absolute;
                        left: 10px;
                        top: 5px;

                        img {
                            opacity: 1;

                        }
                    }
                }

                ul {
                    font-size: 14px;
                    color: #808080;
                    margin: 6px;
                    line-height: 20px;

                    li {
                        max-width: 70px;
                        white-space: nowrap;
                        float: left;
                        margin-right: 17px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-family: light;

                        a {
                            color: #b5aeae;
                        }
                    }
                }

            }

            .yunsong {
                float: left;
                margin-top: 4px;

                a {
                    margin-right: 44px;
                    float: left;
                }
            }
        }

    }

    #main_nav {
        background: #f1f3f0;
        // height: 600px;

        .mn_contain {
            width: 1220px;
            margin: 0 auto;
            position: relative;

            .include {

                .left_nav {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    height: 31px;

                    .allnav {
                        display: block;
                        width: 153px;
                        height: 31px;
                        line-height: 31px;
                        text-align: left;
                        background: linear-gradient(to right, #ff1a10, #f9260b, #f93f0c, #f94b0c);
                        color: white;
                        font-size: 14px;
                        font-family: light;
                        text-decoration: none;
                        border-bottom: 1px solid #dcdcdc;
                        background: url(../img/allist.jpg) no-repeat 0px 3px;
                        text-indent: 42px;

                    }
                }

                .center_nav {
                    margin-left: 162px;
                    margin-left: 162px;
                    height: 30px;
                    line-height: 30px;

                    li {
                        font-size: 16px;
                        margin-left: 31px;
                        float: left;
                        font-family: light;

                        a {
                            color: #000;
                        }
                        a:hover{
                            color:#ff1605;
                        }
                    }


                }

            }

            .big_content {
                .all_list {
                    height: 448px;
                    position: absolute;
                    top: 31px;
                    left: 0;
                    z-index: 76;
                    width: 153px;
                    color: #fff;
                    font-size: 14px;
                    float: left;
                    font-family: light;
                    box-sizing: border-box;
                    background: url(../img/ulbg.jpg) repeat-y center top;

                    li {
                        width: 100%;
                        height: 40px;
                        background: #f9260b;

                        .main_son{
                            height: 40px;
                            width: 153px;
                            border-bottom: 1px solid #f8504d;
                            display: block;
                            color: #fff;
                            box-sizing: border-box;
                            font-weight: normal;
                            line-height: 41px !important;
                            text-align: center;
                        }

                        .list_box {
                            display: none;
                            background-color: #fff;
                            width: 733px;
                            position: absolute;
                            left: 153px;
                            top: -1px;
                            z-index: 9999;
                            height: 448px;
                            box-sizing: border-box;

                            .list_left {
                                float: left;
                                padding: 38px 0px 0px 38px;
                                width: 694px;
                                background-color: #fff;
                                position: relative;
                                height: 411px;

                                .top_list {
                                    width: 538px;
                                    height: 38px;
                                    line-height: 38px;
                                    background-color: #fff;
                                    color: #f2210a;
                                    position: absolute;
                                    top: 0px;
                                    box-sizing: border-box;
                                    font-size: 16px;
                                    font-family: regular;
                                    border-bottom: 1px solid #dcdcdc;

                                    span {
                                        margin-right: 24px;

                                        a {
                                            color: #f2210a;
                                        }
                                    }

                                    .more_selct {
                                        position: absolute;
                                        top: 0px;
                                        right: 0px;
                                        font-size: 14px;
                                        font-family: regular;
                                        background: rgb(244, 33, 13);
                                        line-height: 19px;
                                        width: 69px;
                                        text-align: center;
                                        border-radius: 10px;
                                        margin-top: 10px;
                                        color: #fff;
                                        cursor: pointer;
                                    }
                                }

                                .content_list {
                                    width: 760px;
                                    height: 405px;

                                    dl {
                                        width: 520px;

                                        dd {
                                            display: inline-block;
                                            zoom: 1;
                                            padding-top: 14px;
                                            padding-bottom: 10px;

                                            .mix_title {
                                                float: left;
                                                color: #000;
                                                font-weight: bold;
                                            }

                                            a {
                                                white-space: nowrap;
                                                padding-right: 15px;
                                                float: left;
                                                color: #989696;
                                                margin-bottom: 4px;
                                                font-family: light;
                                            }
                                        }
                                    }

                                    .right_img {
                                        position: absolute;
                                        margin-right: 56px;
                                        right: -51px;
                                        top: 36px;

                                        li {
                                            margin-bottom: 45px;

                                            a {
                                                display: block;

                                                img {
                                                    height: 164px;
                                                    width: 142px;
                                                }
                                            }

                                        }
                                    }
                                }
                            }

                        }

                        .list_active {
                            display: none;
                            background-color: #fff;
                            width: 733px;
                            position: absolute;
                            left: 153px;
                            z-index: -1;
                            margin-left: 153px;
                            top: 0px;
                            height: 448px;
                            box-sizing: border-box;
                            overflow: hidden;
                        }

                    }

                    li:nth-child(1) {
                        background: url(../img/nvzhuang.jpg) no-repeat;
                    }

                    li:nth-child(2) {
                        background: url(../img/baobao.jpg) no-repeat;
                    }
                    li:nth-child(3) {
                        background: url(../img/nanzhuang.jpg) no-repeat;
                    }
                    li:nth-child(4) {
                        background: url(../img/meirong.jpg) no-repeat;
                    }
                    li:nth-child(5) {
                        background: url(../img/muying.jpg) no-repeat;
                    }
                    li:nth-child(6) {
                        background: url(../img/neiyi.jpg) no-repeat;
                    }
                    li:nth-child(7) {
                        background: url(../img/shuma.jpg) no-repeat;
                    }
                    li:nth-child(8) {
                        background: url(../img/shipin.jpg) no-repeat;
                    }
                    li:nth-child(9) {
                        background: url(../img/jiaju.jpg) no-repeat;
                    }
                    li:nth-child(10) {
                        background: url(../img/ashipin.jpg) no-repeat;
                    }

                }


                // .banner{
                //     width: 732px;
                //     height: 448px;
                //     float: left;
                //     overflow: hidden;
                //     background: #5f5f5f;
                //     margin-left: 153px;
                // }
                .swiper-container {
                    float: left;
                    margin-left: 153px;
                }

                .right_asus {
                    float: left;
                    margin-left: 20px;
                    background: #fff;
                    width: 286px;
                    border: 0px solid #e7e7e7;
                    position: relative;

                    .index_login {
                        border: 1px solid #e7e7e7;
                        border-bottom: none;

                        .touxiang {
                            height: 69px;
                            padding-top: 12px;
                            text-align: center;

                            img {
                                display: block;
                                margin: 0 auto;
                            }

                            .cont1 {
                                font-size: 12px;
                                font-weight: bold;
                                padding-top: 8px;
                                display: inline-block;

                            }

                            .cont1 {
                                color: #565656;
                            }
                        }
                    }

                    .select_caozuo {
                        text-align: center;
                        line-height: 39px;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;

                        a {
                            background-color: #f00;
                            width: 80px;
                            color: #FFFFFF;
                            margin-top: 16px;
                            height: 30px;
                            line-height: 30px;
                            border-radius: 4px;
                        }

                    }

                    .zhuangtai {
                        padding: 0 10px;
                        border-right: 1px solid #e7e7e7;
                        border-left: 1px solid #e7e7e7;
                        text-align: center;
                        display: flex;
                        display: none;

                        .zt {
                            cursor: pointer;
                            flex: 1;

                            span {
                                display: block;
                                color: f00;
                                color: #f00;
                            }

                            p {
                                display: inline-block;
                                vertical-align: top;
                                font-size: 12px;
                                // border-right: 1px solid #666;
                                text-align: center;
                                margin-bottom: 6px;
                            }
                        }

                    }

                    .saoma {
                        text-align: center;
                        // line-height: 39px;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        border-right: 1px solid #e7e7e7;
                        border-left: 1px solid #e7e7e7;

                        .xiazai {
                            width: 60px;
                            font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
                            font-weight: 700;

                            img {
                                display: block;
                                margin: 0 auto;
                                margin-bottom: 0px;
                            }

                            p {
                                line-height: 39px;
                                margin-bottom: 0px;
                            }
                        }

                        .shiti {
                            width: 60px;
                            font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
                            font-weight: 700;

                            img {
                                display: block;
                                margin: 0 auto;
                            }

                            p {
                                line-height: 39px;
                                margin-bottom: 0px;
                            }

                        }

                        .dingdan {
                            width: 60px;
                            font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
                            font-weight: 700;

                            img {
                                display: block;
                                margin: 0 auto;
                            }


                            p {
                                line-height: 39px;
                                margin-bottom: 0px;
                            }

                        }
                    }

                    .saoma_hide {
                        position: absolute;
                        width: 282px;
                        height: 220px;
                        top: 230px;
                        left: 2px;
                        z-index: 100;
                        display: none;
                        background-color: #fff;

                        p {
                            width: 80%;
                            height: 100%;
                            margin: 0 auto;

                            img {
                                width: 100%;
                                height: 100%;
                                display: block;
                                margin: 0 auto;
                            }
                        }
                    }




                    .gonggao {
                        width: 286px;
                        padding-top: 1px;
                        height: 134px;
                        overflow: hidden;
                        border-top: 1px solid rgb(238, 237, 237);
                        border-bottom: 1px solid #e7e7e7;

                        .ggao_tab {
                            height: 29px;
                            line-height: 29px;
                            padding: 0px;
                            position: relative;
                            width: 90%;
                            margin: 0 auto;

                            li {
                                width: 128px;
                                // padding: 0 25px;
                                cursor: pointer;
                                color: #4d4949;
                                letter-spacing: 1px;
                                float: left;
                                text-align: center;
                                border-bottom: 1px solid #e7e7e7;


                            }

                            .active {
                                border-bottom: 2px solid #d61e00;
                                background: #fff;
                            }


                        }

                        .tab_content {
                            position: relative;
                            width: 284px;
                            height: 96px;

                            .tab_list {
                                position: absolute;
                                width: 234px;
                                left: 0px;
                                top: 0px;
                                padding-left: 50px;
                                padding-top: 4px;
                                display: none;

                                li {
                                    width: 200px;
                                    height: 23px;
                                    line-height: 23px;
                                    padding-left: 10px;
                                    background: url(../img/tab-icon.png) left center no-repeat;

                                    // background: 
                                    a {
                                        color: #d61e00;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        width: 200px;
                                        display: block;
                                    }
                                }
                            }



                            // .tb_content1 {
                            //     // position: absolute;
                            //     // width: 234px;
                            //     // left: 0px;
                            //     // top: 0px;
                            //     // padding-left: 50px;
                            //     // padding-top: 4px;
                            //     // display: none;

                            //     li {
                            //         width: 200px;
                            //         height: 23px;
                            //         line-height: 23px;
                            //         padding-left: 10px;
                            //         background: url(../img/tab-icon.png) left center no-repeat;


                            //         a {
                            //             color: #d61e00;
                            //             text-overflow: ellipsis;
                            //             white-space: nowrap;
                            //             overflow: hidden;
                            //             width: 200px;
                            //             display: block;
                            //         }
                            //     }
                            // }

                        }
                    }


                    .liucheng {
                        border: 1px solid #ccc;

                        border-top: none;

                        p {
                            color: #3c3c3c;
                            font-size: 14px;
                            font-weight: bold;
                            padding: 8px 0px 8px 18px;
                        }

                        ul {
                            border-top: 1px solid #e7e7e7;
                            margin-top: 11px;
                            padding-left: 14px;
                            height: 54px;

                            li {
                                margin: 0 2%;
                                color: #666;
                                float: left;
                                width: 20%;

                                b {
                                    border-radius: 50%;
                                    width: 16px;
                                    height: 16px;
                                    border: 1px solid #666666;
                                    display: block;
                                    text-align: center;
                                    background: url(../img/liucheng.png) no-repeat;
                                    background-size: 100% 100%;
                                    font-weight: normal;
                                    margin: 0 auto;
                                    margin-top: -10px;
                                    margin-bottom: 2px;
                                }
                            }
                        }


                    }

                }
            }
        }
    }

    .duo_miaosha {
        // background-color: #f1f3f0;
        // height: 100px;
        background-color: #f1f3f0;

        .dm_contain {
            width: 1220px;
            margin: 0 auto;
            // height: 100%;
            // position: relative;
            overflow: hidden;

            .ms_title {
                line-height: 40px;
                height: 40px;
                padding: 20px 0 14px;
                display: flex;
                align-items: center;


                .ms_title1 {
                    font-size: 22px;
                    color: #000000;
                    margin-right: 10px;
                    font-family: bolded;
                    // float: left;


                }

                .ms_time {
                    // float: left;
                    display: flex;
                    align-items: center;

                    .end {
                        font-size: 14px;
                        color: #828282;
                        margin-right: 10px;
                        font-family: light;
                        // float: left;
                        // vertical-align: middle;



                    }

                    .showtime {
                        margin-top: 8px;
                        float: left;
                        color: #fff;
                        font-family: helvetica neue, Helvetica, sans-serif;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 24px;
                        height: 24px;
                        // vertical-align: middle;
                        // vertical-align: top;
                        // display: flex;
                        // align-items: center;
                        // justify-content: center;

                        p {
                            height: 100%;
                            padding: 0 5px;
                            margin-right: 5px;
                            // display: flex;
                            float: left;
                            // vertical-align: middle;
                            background: #ff1605;
                        }
                    }

                }


            }

            .ms_produce {
                height: 177px;
                overflow: hidden;
                background: red;
            }
        }
    }

    .clothes {
        // background: #58bc58;
        // height: 80px;

        .clo_contain {
            width: 1220px;
            margin: 0 auto;

            /* overflow: hidden; */
            // position: relative;
            .clo_title {
                height: 40px;
                line-height: 40px;
                padding: 20px 0px 12px;
                font-family: bolded;
                position: relative;

                .clo_title1 {
                    font-size: 20px;
                    color: #000200;
                    font-weight: bold;
                    margin-left: 15px;
                    float: left;
                }

                .clo_more {
                    display: block;
                    width: 70px;
                    height: 18px;
                    border-radius: 9px;
                    font-size: 13px;
                    position: absolute;
                    right: 36px;
                    top: 34px;
                    background: #f1220e;
                    text-align: center;
                    color: #fff;
                    float: right;
                    line-height: 18px;

                }
            }
        }

    }

    .clothes_detail {
        // 
        box-sizing: border-box;

        .cdetail_contain {
            width: 1220px;
            margin: 0 auto;
            overflow: hidden;

            .clo_left {
                float: left;
                width: 353px;
                height: 580px;
                background: url(../img/bg10.jpg) no-repeat center top;
                margin-right: 3px;
                position: relative;

                ul {
                    width: 100%;
                    height: 182px;
                    padding: 10px 0px 0 0px;
                    // box-sizing: border-box;
                    overflow: hidden;
                    text-align: center;
                    /* flex-wrap: wrap; */
                    position: absolute;
                    top: 392px;
                    box-sizing: border-box;
                    left: 0px;

                    li {

                        float: left;
                        width: 48px;
                        height: 48px;
                        margin-bottom: 14px;
                        box-sizing: border-box;

                        a {
                            color: #5d5d5d;
                            background: #fff;
                            display: block;
                            width: 48px;
                            height: 48px;
                            border-radius: 25px;
                            text-align: center;
                            line-height: 48px;
                            font-size: 12px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            font-family: light;
                        }
                    }

                    li:nth-child(3n+1) {
                        margin-left: 38px;
                        margin-right: 66px;
                    }

                    li:nth-child(3n+2) {
                        margin-right: 74px;
                    }

                }
            }

            .clo_center {
                float: left;
                width: 592px;
                height: 580px;
                position: relative;

                li {
                    float: left;
                    margin-right: 2px;

                    a {
                        img {
                            width: 294px;
                            height: 288px;

                        }
                    }
                }

                li:nth-child(1) {
                    margin-bottom: 2px;
                }

                li:nth-child(2) {
                    margin-bottom: 4px;
                }


            }

            .clo_right {
                float: left;
                margin-left: 4px;
                width: 237px;
                position: relative;

                .new_title {
                    width: 237px;
                    height: 63px;
                    // line-height: 63px;
                    // position: relative;
                    margin-bottom: 1px;
                    background: #fff;
                    box-sizing: border-box;
                    padding-left: 16px;
                    display: flex;
                    align-items: center;

                    .n_title {
                        font-size: 14px;
                        color: #000;
                        background: #fff;
                        // height: 63px;
                        // line-height: 63px;
                        font-weight: 900;
                    }
                }

                .clo_banner {
                    overflow: hidden;
                    position: relative;
                    width: 237px;

                    ul {
                        color: rgb(255, 255, 255);
                        width: 1185px;
                        position: relative;
                        overflow: hidden;
                        padding: 0px;
                        margin: 0px;

                        li {
                            // float: left;
                            width: 237px;
                            height: 129px;
                            background: #fff;
                            display: flex;
                            align-items: center;
                            // justify-content: center;
                            margin-top: 1px;
                            // border-top: 1px solid #ccc;

                            .item {
                                // overflow: hidden;
                                padding: 28px 10px;
                                float: left;
                                // border-bottom: 1px solid rgb(241, 243, 240);

                                a {
                                    img {
                                        width: 66px;
                                        height: 66px;
                                    }
                                }
                            }

                            .item_mation {
                                float: left;
                                width: 133px;
                                // margin-left: 10px;                            
                                overflow: hidden;
                                text-overflow: ellipsis;

                                .goods_name {
                                    color: #92778a;
                                    font-size: 12px;
                                    margin-bottom: 4px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    width: 100%;
                                    white-space: nowrap;
                                    font-family: light;
                                    display: block;

                                }

                                .price {
                                    color: #f02602;
                                    font-size: 16px;
                                    font-family: light;

                                    span {
                                        font-size: 12px;
                                    }

                                }

                                .salm {
                                    margin-bottom: 4px;
                                    color: #92778a;
                                }
                            }
                        }
                    }

                }


            }
        }
    }

    .duo_dongtai {
        // background: yellow;
        // height: 500px;

        .dont_contain {
            width: 1220px;
            margin: 0 auto;

            .dt_title {
                height: 34px;
                line-height: 32px;
                font-size: 13px;
                margin-top: 18px;
                border-bottom: 2px solid #d61e00;

                h2 {
                    color: #000;
                    font-size: 19px;
                    font-weight: 700;
                }
            }

            .dt_neirong {
                height: 469px;
                border: 1px solid #d9d9d9;
                border-top: none;

                h3 {
                    margin: 0px 12px 20px;
                    height: 40px;
                    font-size: 15px;
                    line-height: 40px;
                    border-bottom: 1px solid #dbdbdb;
                    color: #000;
                    position: relative;

                    b {
                        color: #000;
                    }

                    span {
                        position: absolute;
                        right: 10px;
                        top: 0;

                        a {
                            font-size: 12px;
                            color: #323232;
                            font-weight: normal;
                        }
                    }
                }

                .dt_left {
                    width: 376px;
                    overflow: hidden;
                    float: left;
                    border-right: 1px dotted #d9d7db;

                    .bottom_banner {
                        // width: 370px;
                        // height: 245px;
                        // overflow: hidden;
                        // position: relative;
                        // margin: 0 auto;
                        // background: blue;
                    }

                    .bl_list {
                        margin: 15px 16px 0px;

                        li {
                            height: 24px;
                            line-height: 24px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;

                            a {
                                background: url(../img/dsdt_lid.jpg) no-repeat 0px center;
                                padding-left: 10px;
                                color: #666;
                            }
                            a:hover{
                                color:#ff1a10;
                            }
                        }
                    }

                }

                .dt_center {
                    width: 426px;
                    overflow: hidden;
                    float: left;
                    border-right: 1px dotted #d9d7db;

                    .bc_list {
                        margin: 0 12px;

                        li {
                            border-bottom: 1px dotted #e5e5e5;
                            margin-bottom: 20px;

                            .text_item {
                                margin-bottom: 15px;

                                .text_img {
                                    width: 120px;
                                    height: 100px;
                                    text-align: center;
                                    display: table;
                                    zoom: 1;
                                    float: left;
                                    margin-right: 20px;

                                    a {
                                        display: table-cell;
                                        vertical-align: middle;

                                        img {
                                            max-width: 120px;
                                            max-height: 100px;
                                            vertical-align: middle;
                                            display: block;
                                            text-align: center;
                                            margin: 0 auto;
                                        }
                                    }
                                }

                                .t_title {
                                    padding-bottom: 6px;
                                    font-size: 15px;
                                    line-height: 23px;
                                    height: 23px;
                                    font-weight: bold;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;

                                    a {
                                        color: #666;
                                    }
                                }

                                .ttext {
                                    height: 54px;
                                    overflow: hidden;

                                    a {
                                        color: #7398ff;
                                    }
                                }
                            }
                        }
                    }
                }

                .dt_right {
                    width: 413px;
                    float: left;
                    height: 469px;
                    

                    .r_text {
                        margin: 0 12px;
                        p {
                            color: #575757;
                            text-indent: 25px;
                            line-height: 24px;
                        }
                    }

                    .r_quyu {
                        margin: 13px 12px 0px;
                        border-top: 1px dotted #d9d7db;
                        // text-align: center;
                        height: 238px;
                        padding-top: 16px;
                        padding-left: 0px;

                        a {
                            color: #666;
                            img{
                                border: 0;
                            }

                            span {
                                display: block;
                                text-align: right;
                                margin: 10px 33px 0px 0px;
                            }
                        }
                        span:hover {
                            color: #ff1a10;
                        }


                    }



                }
            }

        }
    }

    .duo_lianjie {
        height: 36px;
        background: red;

        .lj_contain {
            width: 1220px;
            margin: 0 auto;

            p {
                height: 18px;
                line-height: 18px;
            }

            .lj_tishi {
                a {
                    color: #666;
                }
            }

            .lj_list {
                width: 1220px;
                height: auto;
                border: 1px solid #e4e4e4;
                margin: 6px auto 20px;
                clear: both;

                ul {
                    list-style-type: none;
                    width: 98%;
                    display: inline-block;
                    padding: 1%;

                    li {
                        color: #696969;
                        float: left;
                        height: 25px;
                        font-size: 12px;

                        a {
                            padding: 0 5px;
                            color: #696969;
                        }
                    }
                }
            }
        }

    }

    // .duo_guanggao {
    //     background: #58bc58;
    //     height: 100px;

    //     .guangg_contain {
    //         margin: 0 auto;
    //     }
    // }

    #footer {
        width: 100%;
        // background: blue;
        background: url(../img/tuifooter1.jpg) repeat-x #fff;
        position: relative;
        min-width: 1000px;
        padding-bottom: 20px;

        // height: 510px;
        .help {
            width: 100%;
            margin-bottom: 15px;
            display: inline-block;

            .content {
                width: 1220px;
                margin: 0 auto;
                padding-top: 175px;
                background: url(../img/tuifooter2.jpg) no-repeat center top;
                height: 134px;

                ul {

                    li {
                        float: left;
                        width: 120px;

                        p {
                            height: 34px;
                            line-height: 34px;
                            color: #000;
                            font-size: 12px;
                            padding-left: 0px;
                        }

                        ul {
                            padding-left: 0;

                            li {
                                height: 20px;
                                line-height: 20px;

                                a {
                                    font-size: 12px;
                                    color: #999999;
                                }
                            }
                        }

                    }
                }
            }
        }

        #footer_content {
            width: 1000px;
            margin: 0 auto;

            .footer_img {
                text-align: center;
                margin: 10px 0;

                ul {
                    li {
                        margin: 0 5px;
                    }
                }
            }

            .footer_lianjie {
                text-align: center;
                color: #676767;
                line-height: 24px;
                font-size: 12px;

                a {
                    color: #676767;
                }
            }

            .footer_content {
                text-align: center;
                line-height: 24px;
                color: #666;
                font-size: 12px;

                p {}
            }
        }
    }



// }