body {
  background: #f1f3f0;
  width: 100%;
  height: 100%;
}

a:hover {
  text-decoration: none;
}

.duo_header {
  background: #3e3e3e;
  width: 100%;
  height: auto;
  color: #fff;
  font-size: 14px;
}

.duo_header .dh_contain {
  width: 1220px;
  background: #3e3e3e;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  font-size: 14px;
}

.duo_header .dh_contain .login_left {
  float: left;
}

.duo_header .dh_contain .login_left .welcome {
  margin-right: 26px;
}

.duo_header .dh_contain .login_left a {
  color: #fff;
}

.duo_header .dh_contain .login_right {
  float: right;
}

.duo_header .dh_contain .login_right ul li {
  margin-right: 44px;
  float: left;
}

.duo_header .dh_contain .login_right ul li a {
  color: #fff;
  font-size: 14px;
}

.head {
  background: #f1f3f0;
  padding: 30px 0 0px 0;
  margin-top: 0px;
}

.head .hd_contain {
  width: 1220px;
  margin: 0 auto;
  height: 90px;
}

.head .hd_contain .logo {
  height: 28px;
  margin-right: 50px;
  width: 210px;
  float: left;
  margin-top: 8px;
}

.head .hd_contain .logo img {
  width: 153px;
  opacity: 1;
}

.head .hd_contain .search {
  float: left;
  position: relative;
  z-index: 1;
  padding-left: 0px !important;
  width: 508px;
  margin-right: 62px;
}

.head .hd_contain .search .top_search {
  position: relative;
  width: 508px;
  height: 35px;
  border: 1px solid #d8ddd7;
  background: #fff;
  border-radius: 12px;
  padding-left: 36px;
  box-sizing: border-box;
}

.head .hd_contain .search .top_search .ttexts {
  border: 0 none;
  outline: none;
  display: block;
  line-height: 33px;
  width: 393px;
}

.head .hd_contain .search .top_search .sousuo {
  position: absolute;
  top: -1px;
  right: 0;
}

.head .hd_contain .search .top_search .sousuo img {
  opacity: 1;
}

.head .hd_contain .search .top_search .xiangji {
  position: absolute;
  left: 10px;
  top: 5px;
}

.head .hd_contain .search .top_search .xiangji img {
  opacity: 1;
}

.head .hd_contain .search ul {
  font-size: 14px;
  color: #808080;
  margin: 6px;
  line-height: 20px;
}

.head .hd_contain .search ul li {
  max-width: 70px;
  white-space: nowrap;
  float: left;
  margin-right: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: light;
}

.head .hd_contain .search ul li a {
  color: #b5aeae;
}

.head .hd_contain .yunsong {
  float: left;
  margin-top: 4px;
}

.head .hd_contain .yunsong a {
  margin-right: 44px;
  float: left;
}

#main_nav {
  background: #f1f3f0;
}

#main_nav .mn_contain {
  width: 1220px;
  margin: 0 auto;
  position: relative;
}

#main_nav .mn_contain .include .left_nav {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 31px;
}

#main_nav .mn_contain .include .left_nav .allnav {
  display: block;
  width: 153px;
  height: 31px;
  line-height: 31px;
  text-align: left;
  background: linear-gradient(to right, #ff1a10, #f9260b, #f93f0c, #f94b0c);
  color: white;
  font-size: 14px;
  font-family: light;
  text-decoration: none;
  border-bottom: 1px solid #dcdcdc;
  background: url(../img/allist.jpg) no-repeat 0px 3px;
  text-indent: 42px;
}

#main_nav .mn_contain .include .center_nav {
  margin-left: 162px;
  margin-left: 162px;
  height: 30px;
  line-height: 30px;
}

#main_nav .mn_contain .include .center_nav li {
  font-size: 16px;
  margin-left: 31px;
  float: left;
  font-family: light;
}

#main_nav .mn_contain .include .center_nav li a {
  color: #000;
}

#main_nav .mn_contain .include .center_nav li a:hover {
  color: #ff1605;
}

#main_nav .mn_contain .big_content .all_list {
  height: 448px;
  position: absolute;
  top: 31px;
  left: 0;
  z-index: 76;
  width: 153px;
  color: #fff;
  font-size: 14px;
  float: left;
  font-family: light;
  box-sizing: border-box;
  background: url(../img/ulbg.jpg) repeat-y center top;
}

#main_nav .mn_contain .big_content .all_list li {
  width: 100%;
  height: 40px;
  /* background: #f9260b; */
}

#main_nav .mn_contain .big_content .all_list li .main_son {
  height: 40px;
  width: 153px;
  border-bottom: 1px solid #f8504d;
  display: block;
  color: #fff;
  box-sizing: border-box;
  font-weight: normal;
  line-height: 41px !important;
  text-align: center;
}
#main_nav .mn_contain .big_content .all_list .list_active{
  display: block;
}

#main_nav .mn_contain .big_content .all_list .li_active a:hover .list_box{
  display: block;

}

#main_nav .mn_contain .big_content .all_list li .list_box {
  display: none;
  background-color: #fff;
  width: 733px;
  position: absolute;
  left: 153px;
  top: -1px;
  z-index: 9999;
  height: 448px;
  box-sizing: border-box;
}

#main_nav .mn_contain .big_content .all_list li .list_box .list_left {
  float: left;
  padding: 38px 0px 0px 38px;
  width: 694px;
  background-color: #fff;
  position: relative;
  height: 411px;
}

#main_nav .mn_contain .big_content .all_list li .list_box .list_left .top_list {
  width: 538px;
  height: 38px;
  line-height: 38px;
  background-color: #fff;
  color: #f2210a;
  position: absolute;
  top: 0px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: regular;
  border-bottom: 1px solid #dcdcdc;
}

#main_nav .mn_contain .big_content .all_list li .list_box .list_left .top_list span {
  margin-right: 24px;
}

#main_nav .mn_contain .big_content .all_list li .list_box .list_left .top_list span a {
  color: #f2210a;
}

#main_nav .mn_contain .big_content .all_list li .list_box .list_left .top_list .more_selct {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 14px;
  font-family: regular;
  background: #f4210d;
  line-height: 19px;
  width: 69px;
  text-align: center;
  border-radius: 10px;
  margin-top: 10px;
  color: #fff;
  cursor: pointer;
}

#main_nav .mn_contain .big_content .all_list li .list_box .list_left .content_list {
  width: 760px;
  height: 405px;
}

#main_nav .mn_contain .big_content .all_list li .list_box .list_left .content_list dl {
  width: 520px;
}

#main_nav .mn_contain .big_content .all_list li .list_box .list_left .content_list dl dd {
  display: inline-block;
  zoom: 1;
  padding-top: 14px;
  padding-bottom: 10px;
}

#main_nav .mn_contain .big_content .all_list li .list_box .list_left .content_list dl dd .mix_title {
  float: left;
  color: #000;
  font-weight: bold;
}

#main_nav .mn_contain .big_content .all_list li .list_box .list_left .content_list dl dd a {
  white-space: nowrap;
  padding-right: 15px;
  float: left;
  color: #989696;
  margin-bottom: 4px;
  font-family: light;
}

#main_nav .mn_contain .big_content .all_list li .list_box .list_left .content_list .right_img {
  position: absolute;
  margin-right: 56px;
  right: -51px;
  top: 36px;
}

#main_nav .mn_contain .big_content .all_list li .list_box .list_left .content_list .right_img li {
  margin-bottom: 45px;
}

#main_nav .mn_contain .big_content .all_list li .list_box .list_left .content_list .right_img li a {
  display: block;
}

#main_nav .mn_contain .big_content .all_list .active a {
  background: url(../img/nanzhuang.jpg) no-repeat;
  /* background-color: #fff; */
}

#main_nav .mn_contain .big_content .all_list li .list_box .list_left .content_list .right_img li a img {
  height: 164px;
  width: 142px;
}

/* #main_nav .mn_contain .big_content .all_list li .list_active {
 
  background-color: #fff;
  width: 733px;
  position: absolute;
  left: 153px;
  z-index: -1;
  margin-left: 153px;
  top: 0px;
  height: 448px;
  box-sizing: border-box;
  overflow: hidden;
} */

#main_nav .mn_contain .big_content .all_list li:nth-child(1) {
  background: url(../img/nvzhuang.jpg) no-repeat;
}

#main_nav .mn_contain .big_content .all_list li:nth-child(2) {
  background: url(../img/baobao.jpg) no-repeat;
}

#main_nav .mn_contain .big_content .all_list li:nth-child(3) {
  background: url(../img/nanzhuang.jpg) no-repeat;
}

#main_nav .mn_contain .big_content .all_list li:nth-child(4) {
  background: url(../img/meirong.jpg) no-repeat;
}

#main_nav .mn_contain .big_content .all_list li:nth-child(5) {
  background: url(../img/muying.jpg) no-repeat;
}

#main_nav .mn_contain .big_content .all_list li:nth-child(6) {
  background: url(../img/neiyi.jpg) no-repeat;
}

#main_nav .mn_contain .big_content .all_list li:nth-child(7) {
  background: url(../img/shuma.jpg) no-repeat;
}

#main_nav .mn_contain .big_content .all_list li:nth-child(8) {
  background: url(../img/shipin.jpg) no-repeat;
}

#main_nav .mn_contain .big_content .all_list li:nth-child(9) {
  background: url(../img/jiaju.jpg) no-repeat;
}

#main_nav .mn_contain .big_content .all_list li:nth-child(10) {
  background: url(../img/ashipin.jpg) no-repeat;
}

#main_nav .mn_contain .big_content .swiper-container {
  float: left;
  margin-left: 153px;
}

#main_nav .mn_contain .big_content .right_asus {
  float: left;
  margin-left: 20px;
  background: #fff;
  width: 286px;
  border: 0px solid #e7e7e7;
  position: relative;
  max-height: 448px;
  /* box-sizing: border-box; */
  overflow: hidden;
}

#main_nav .mn_contain .big_content .right_asus .index_login {
  border: 1px solid #e7e7e7;
  border-bottom: none;
}

#main_nav .mn_contain .big_content .right_asus .index_login .touxiang {
  height: 69px;
  padding-top: 12px;
  text-align: center;
}

#main_nav .mn_contain .big_content .right_asus .index_login .touxiang img {
  display: block;
  margin: 0 auto;
}

#main_nav .mn_contain .big_content .right_asus .index_login .touxiang .cont1 {
  font-size: 12px;
  font-weight: bold;
  padding-top: 8px;
  display: inline-block;
}

#main_nav .mn_contain .big_content .right_asus .index_login .touxiang .cont1 {
  color: #565656;
}

#main_nav .mn_contain .big_content .right_asus .select_caozuo {
  text-align: center;
  line-height: 39px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#main_nav .mn_contain .big_content .right_asus .select_caozuo a {
  background-color: #f00;
  width: 80px;
  color: #FFFFFF;
  margin-top: 16px;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
}

#main_nav .mn_contain .big_content .right_asus .zhuangtai {
  padding: 0 10px;
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  text-align: center;
  display: flex;
  display: none;
}

#main_nav .mn_contain .big_content .right_asus .zhuangtai .zt {
  cursor: pointer;
  flex: 1;
}

#main_nav .mn_contain .big_content .right_asus .zhuangtai .zt span {
  display: block;
  color: f00;
  color: #f00;
}

#main_nav .mn_contain .big_content .right_asus .zhuangtai .zt p {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  text-align: center;
  margin-bottom: 6px;
}

#main_nav .mn_contain .big_content .right_asus .saoma {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
}

#main_nav .mn_contain .big_content .right_asus .saoma .xiazai {
  width: 60px;
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight: 700;
}

#main_nav .mn_contain .big_content .right_asus .saoma .xiazai img {
  display: block;
  margin: 0 auto;
  margin-bottom: 0px;
}

#main_nav .mn_contain .big_content .right_asus .saoma .xiazai p {
  line-height: 39px;
  margin-bottom: 0px;
}

#main_nav .mn_contain .big_content .right_asus .saoma .shiti {
  width: 60px;
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight: 700;
}

#main_nav .mn_contain .big_content .right_asus .saoma .shiti img {
  display: block;
  margin: 0 auto;
}

#main_nav .mn_contain .big_content .right_asus .saoma .shiti p {
  line-height: 39px;
  margin-bottom: 0px;
}

#main_nav .mn_contain .big_content .right_asus .saoma .dingdan {
  width: 60px;
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight: 700;
}

#main_nav .mn_contain .big_content .right_asus .saoma .dingdan img {
  display: block;
  margin: 0 auto;
}

#main_nav .mn_contain .big_content .right_asus .saoma .dingdan p {
  line-height: 39px;
  margin-bottom: 0px;
}

#main_nav .mn_contain .big_content .right_asus .saoma_hide {
  position: absolute;
  width: 282px;
  height: 220px;
  top: 230px;
  left: 2px;
  z-index: 100;
  display: none;
  background-color: #fff;
}

#main_nav .mn_contain .big_content .right_asus .saoma_hide p {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

#main_nav .mn_contain .big_content .right_asus .saoma_hide p img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

#main_nav .mn_contain .big_content .right_asus .gonggao {
  width: 286px;
  padding-top: 1px;
  height: 134px;
  overflow: hidden;
  border-top: 1px solid #eeeded;
  border-bottom: 1px solid #e7e7e7;
}

#main_nav .mn_contain .big_content .right_asus .gonggao .ggao_tab {
  height: 29px;
  line-height: 29px;
  padding: 0px;
  position: relative;
  width: 90%;
  margin: 0 auto;
}

#main_nav .mn_contain .big_content .right_asus .gonggao .ggao_tab li {
  width: 128px;
  cursor: pointer;
  color: #4d4949;
  letter-spacing: 1px;
  float: left;
  text-align: center;
  border-bottom: 1px solid #e7e7e7;
}

#main_nav .mn_contain .big_content .right_asus .gonggao .ggao_tab .active {
  border-bottom: 2px solid #d61e00;
  background: #fff;
}

#main_nav .mn_contain .big_content .right_asus .gonggao .tab_content {
  position: relative;
  width: 284px;
  height: 96px;
}

#main_nav .mn_contain .big_content .right_asus .gonggao .tab_content .tab_list {
  position: absolute;
  width: 234px;
  left: 0px;
  top: 0px;
  padding-left: 50px;
  padding-top: 4px;
  display: none;
}

#main_nav .mn_contain .big_content .right_asus .gonggao .tab_content .tab_list li {
  width: 200px;
  height: 23px;
  line-height: 23px;
  padding-left: 10px;
  background: url(../img/tab-icon.png) left center no-repeat;
}

#main_nav .mn_contain .big_content .right_asus .gonggao .tab_content .tab_list li a {
  color: #d61e00;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
  display: block;
}

#main_nav .mn_contain .big_content .right_asus .liucheng {
  border: 1px solid #ccc;
  border-top: none;
}

#main_nav .mn_contain .big_content .right_asus .liucheng p {
  color: #3c3c3c;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 0px 8px 18px;
}

#main_nav .mn_contain .big_content .right_asus .liucheng ul {
  border-top: 1px solid #e7e7e7;
  margin-top: 11px;
  padding-left: 14px;
  height: 54px;
}

#main_nav .mn_contain .big_content .right_asus .liucheng ul li {
  margin: 0 2%;
  color: #666;
  float: left;
  width: 20%;
}

#main_nav .mn_contain .big_content .right_asus .liucheng ul li b {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid #666666;
  display: block;
  text-align: center;
  background: url(../img/liucheng.png) no-repeat;
  background-size: 100% 100%;
  font-weight: normal;
  margin: 0 auto;
  margin-top: -10px;
  margin-bottom: 2px;
}

.duo_miaosha {
  background-color: #f1f3f0;
}

.duo_miaosha .dm_contain {
  width: 1220px;
  margin: 0 auto;
  overflow: hidden;
}

.duo_miaosha .dm_contain .ms_title {
  line-height: 40px;
  height: 40px;
  padding: 20px 0 14px;
  display: flex;
  align-items: center;
}

.duo_miaosha .dm_contain .ms_title .ms_title1 {
  font-size: 22px;
  color: #000000;
  margin-right: 10px;
  font-family: bolded;
}

.duo_miaosha .dm_contain .ms_title .ms_time {
  display: flex;
  align-items: center;
}

.duo_miaosha .dm_contain .ms_title .ms_time .end {
  font-size: 14px;
  color: #828282;
  margin-right: 10px;
  font-family: light;
}

.duo_miaosha .dm_contain .ms_title .ms_time .showtime {
  margin-top: 8px;
  float: left;
  color: #fff;
  font-family: helvetica neue, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  height: 24px;
}

.duo_miaosha .dm_contain .ms_title .ms_time .showtime p {
  height: 100%;
  padding: 0 5px;
  margin-right: 5px;
  float: left;
  background: #ff1605;
}

.duo_miaosha .dm_contain .ms_produce {
  height: 177px;
  overflow: hidden;
  background: red;
}

.clothes .clo_contain {
  width: 1220px;
  margin: 0 auto;
  /* overflow: hidden; */
}

.clothes .clo_contain .clo_title {
  height: 40px;
  line-height: 40px;
  padding: 20px 0px 12px;
  font-family: bolded;
  position: relative;
}

.clothes .clo_contain .clo_title .clo_title1 {
  font-size: 20px;
  color: #000200;
  font-weight: bold;
  margin-left: 15px;
  float: left;
}

.clothes .clo_contain .clo_title .clo_more {
  display: block;
  width: 70px;
  height: 18px;
  border-radius: 9px;
  font-size: 13px;
  position: absolute;
  right: 36px;
  top: 34px;
  background: #f1220e;
  text-align: center;
  color: #fff;
  float: right;
  line-height: 18px;
}

.clothes_detail {
  box-sizing: border-box;
}

.clothes_detail .cdetail_contain {
  width: 1220px;
  margin: 0 auto;
  overflow: hidden;
}

.clothes_detail .cdetail_contain .clo_left {
  float: left;
  width: 353px;
  height: 580px;
  background: url(../img/bg10.jpg) no-repeat center top;
  margin-right: 3px;
  position: relative;
}

.clothes_detail .cdetail_contain .clo_left ul {
  width: 100%;
  height: 182px;
  padding: 10px 0px 0 0px;
  overflow: hidden;
  text-align: center;
  /* flex-wrap: wrap; */
  position: absolute;
  top: 392px;
  box-sizing: border-box;
  left: 0px;
}

.clothes_detail .cdetail_contain .clo_left ul li {
  float: left;
  width: 48px;
  height: 48px;
  margin-bottom: 14px;
  box-sizing: border-box;
}

.clothes_detail .cdetail_contain .clo_left ul li a {
  color: #5d5d5d;
  background: #fff;
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 25px;
  text-align: center;
  line-height: 48px;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: light;
}

.clothes_detail .cdetail_contain .clo_left ul li:nth-child(3n+1) {
  margin-left: 38px;
  margin-right: 66px;
}

.clothes_detail .cdetail_contain .clo_left ul li:nth-child(3n+2) {
  margin-right: 74px;
}

.clothes_detail .cdetail_contain .clo_center {
  float: left;
  width: 592px;
  height: 580px;
  position: relative;
}

.clothes_detail .cdetail_contain .clo_center li {
  float: left;
  margin-right: 2px;
}

.clothes_detail .cdetail_contain .clo_center li a img {
  width: 294px;
  height: 288px;
}

.clothes_detail .cdetail_contain .clo_center li:nth-child(1) {
  margin-bottom: 2px;
}

.clothes_detail .cdetail_contain .clo_center li:nth-child(2) {
  margin-bottom: 4px;
}

.clothes_detail .cdetail_contain .clo_right {
  float: left;
  margin-left: 4px;
  width: 237px;
  position: relative;
  overflow: hidden;
  max-height: 580px;
}

.clothes_detail .cdetail_contain .clo_right .new_title {
  width: 237px;
  height: 63px;
  margin-bottom: 1px;
  background: #fff;
  box-sizing: border-box;
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.clothes_detail .cdetail_contain .clo_right .new_title .n_title {
  font-size: 14px;
  color: #000;
  background: #fff;
  font-weight: 900;
}

.clothes_detail .cdetail_contain .clo_right .clo_banner {
  overflow: hidden;
  position: relative;
  width: 237px;
}

.clothes_detail .cdetail_contain .clo_right .clo_banner ul {
  color: white;
  width: 1185px;
  position: relative;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.clothes_detail .cdetail_contain .clo_right .clo_banner ul li {
  width: 237px;
  height: 129px;
  background: #fff;
  display: flex;
  align-items: center;
  margin-top: 1px;
}

.clothes_detail .cdetail_contain .clo_right .clo_banner ul li .item {
  padding: 28px 10px;
  float: left;
}

.clothes_detail .cdetail_contain .clo_right .clo_banner ul li .item a img {
  width: 66px;
  height: 66px;
}

.clothes_detail .cdetail_contain .clo_right .clo_banner ul li .item_mation {
  float: left;
  width: 133px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clothes_detail .cdetail_contain .clo_right .clo_banner ul li .item_mation .goods_name {
  color: #92778a;
  font-size: 12px;
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  font-family: light;
  display: block;
}

.clothes_detail .cdetail_contain .clo_right .clo_banner ul li .item_mation .price {
  color: #f02602;
  font-size: 16px;
  font-family: light;
}

.clothes_detail .cdetail_contain .clo_right .clo_banner ul li .item_mation .price span {
  font-size: 12px;
}

.clothes_detail .cdetail_contain .clo_right .clo_banner ul li .item_mation .salm {
  margin-bottom: 4px;
  color: #92778a;
}

.duo_dongtai .dont_contain {
  width: 1220px;
  margin: 0 auto;
}

.duo_dongtai .dont_contain .dt_title {
  height: 34px;
  line-height: 32px;
  font-size: 13px;
  margin-top: 18px;
  border-bottom: 2px solid #d61e00;
}

.duo_dongtai .dont_contain .dt_title h2 {
  color: #000;
  font-size: 19px;
  font-weight: 700;
}

.duo_dongtai .dont_contain .dt_neirong {
  height: 469px;
  border: 1px solid #d9d9d9;
  border-top: none;
}

.duo_dongtai .dont_contain .dt_neirong h3 {
  margin: 0px 12px 20px;
  height: 40px;
  font-size: 15px;
  line-height: 40px;
  border-bottom: 1px solid #dbdbdb;
  color: #000;
  position: relative;
}

.duo_dongtai .dont_contain .dt_neirong h3 b {
  color: #000;
}

.duo_dongtai .dont_contain .dt_neirong h3 span {
  position: absolute;
  right: 10px;
  top: 0;
}

.duo_dongtai .dont_contain .dt_neirong h3 span a {
  font-size: 12px;
  color: #323232;
  font-weight: normal;
}

.duo_dongtai .dont_contain .dt_neirong .dt_left {
  width: 376px;
  overflow: hidden;
  float: left;
  border-right: 1px dotted #d9d7db;
}

.duo_dongtai .dont_contain .dt_neirong .dt_left .bl_list {
  margin: 15px 16px 0px;
}

.duo_dongtai .dont_contain .dt_neirong .dt_left .bl_list li {
  height: 24px;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.duo_dongtai .dont_contain .dt_neirong .dt_left .bl_list li a {
  background: url(../img/dsdt_lid.jpg) no-repeat 0px center;
  padding-left: 10px;
  color: #666;
}

.duo_dongtai .dont_contain .dt_neirong .dt_left .bl_list li a:hover {
  color: #ff1a10;
}

.duo_dongtai .dont_contain .dt_neirong .dt_center {
  width: 426px;
  overflow: hidden;
  float: left;
  border-right: 1px dotted #d9d7db;
}

.duo_dongtai .dont_contain .dt_neirong .dt_center .bc_list {
  margin: 0 12px;
}

.duo_dongtai .dont_contain .dt_neirong .dt_center .bc_list li {
  border-bottom: 1px dotted #e5e5e5;
  margin-bottom: 20px;
}

.duo_dongtai .dont_contain .dt_neirong .dt_center .bc_list li .text_item {
  margin-bottom: 15px;
}

.duo_dongtai .dont_contain .dt_neirong .dt_center .bc_list li .text_item .text_img {
  width: 120px;
  height: 100px;
  text-align: center;
  display: table;
  zoom: 1;
  float: left;
  margin-right: 20px;
}

.duo_dongtai .dont_contain .dt_neirong .dt_center .bc_list li .text_item .text_img a {
  display: table-cell;
  vertical-align: middle;
}

.duo_dongtai .dont_contain .dt_neirong .dt_center .bc_list li .text_item .text_img a img {
  max-width: 120px;
  max-height: 100px;
  vertical-align: middle;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.duo_dongtai .dont_contain .dt_neirong .dt_center .bc_list li .text_item .t_title {
  padding-bottom: 6px;
  font-size: 15px;
  line-height: 23px;
  height: 23px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.duo_dongtai .dont_contain .dt_neirong .dt_center .bc_list li .text_item .t_title a {
  color: #666;
}

.duo_dongtai .dont_contain .dt_neirong .dt_center .bc_list li .text_item .ttext {
  height: 60px;
  overflow: hidden;
}

.duo_dongtai .dont_contain .dt_neirong .dt_center .bc_list li .text_item .ttext a {
  color: #7398ff;
}

.duo_dongtai .dont_contain .dt_neirong .dt_right {
  width: 413px;
  float: left;
  height: 469px;
}

.duo_dongtai .dont_contain .dt_neirong .dt_right .r_text {
  margin: 0 12px;
}

.duo_dongtai .dont_contain .dt_neirong .dt_right .r_text p {
  color: #575757;
  text-indent: 25px;
  line-height: 24px;
}

.duo_dongtai .dont_contain .dt_neirong .dt_right .r_quyu {
  margin: 13px 12px 0px;
  border-top: 1px dotted #d9d7db;
  height: 238px;
  padding-top: 16px;
  padding-left: 0px;
}

.duo_dongtai .dont_contain .dt_neirong .dt_right .r_quyu a {
  color: #666;
}

.duo_dongtai .dont_contain .dt_neirong .dt_right .r_quyu a img {
  border: 0;
}

.duo_dongtai .dont_contain .dt_neirong .dt_right .r_quyu a span {
  display: block;
  text-align: right;
  margin: 10px 33px 0px 0px;
}

.duo_dongtai .dont_contain .dt_neirong .dt_right .r_quyu span:hover {
  color: #ff1a10;
}

.duo_lianjie {
  height: 36px;
  background: red;
  display: none;
}

.duo_lianjie .lj_contain {
  width: 1220px;
  margin: 0 auto;
}

.duo_lianjie .lj_contain p {
  height: 18px;
  line-height: 18px;
}

.duo_lianjie .lj_contain .lj_tishi a {
  color: #666;
}

.duo_lianjie .lj_contain .lj_list {
  width: 1220px;
  height: auto;
  border: 1px solid #e4e4e4;
  margin: 6px auto 20px;
  clear: both;
}

.duo_lianjie .lj_contain .lj_list ul {
  list-style-type: none;
  width: 98%;
  display: inline-block;
  padding: 1%;
}

.duo_lianjie .lj_contain .lj_list ul li {
  color: #696969;
  float: left;
  height: 25px;
  font-size: 12px;
}

.duo_lianjie .lj_contain .lj_list ul li a {
  padding: 0 5px;
  color: #696969;
}

#footer {
  width: 100%;
  background: url(../img/tuifooter1.jpg) repeat-x #fff;
  position: relative;
  min-width: 1000px;
  padding-bottom: 20px;
}

#footer .help {
  width: 100%;
  margin-bottom: 15px;
  display: inline-block;
}

#footer .help .content {
  width: 1220px;
  margin: 0 auto;
  padding-top: 175px;
  background: url(../img/tuifooter2.jpg) no-repeat center top;
  height: 134px;
}

#footer .help .content ul li {
  float: left;
  width: 120px;
}

#footer .help .content ul li p {
  height: 34px;
  line-height: 34px;
  color: #000;
  font-size: 12px;
  padding-left: 0px;
}

#footer .help .content ul li ul {
  padding-left: 0;
}

#footer .help .content ul li ul li {
  height: 20px;
  line-height: 20px;
}

#footer .help .content ul li ul li a {
  font-size: 12px;
  color: #999999;
}

#footer #footer_content {
  width: 1000px;
  margin: 0 auto;
}

#footer #footer_content .footer_img {
  text-align: center;
  margin: 10px 0;
}

#footer #footer_content .footer_img ul li {
  margin: 0 5px;
}

#footer #footer_content .footer_lianjie {
  text-align: center;
  color: #676767;
  line-height: 24px;
  font-size: 12px;
}

#footer #footer_content .footer_lianjie a {
  color: #676767;
}

#footer #footer_content .footer_content {
  text-align: center;
  line-height: 24px;
  color: #666;
  font-size: 12px;
}