@charset "UTF-8";
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: 微软雅黑;
  color: #343434;
}

div {
  box-sizing: border-box;
}

.ds_top {
  width: 100%;
}

.ds_top .top_box1 {
  width: 1200px;
  margin: 0 auto;
  height: 42px;
  line-height: 42px;
}

.ds_top .top_box1 .fl_left {
  float: left;
}

.ds_top .top_box1 .fl_left span {
  line-height: 42px;
}

.ds_top .top_box1 .fl_left .info {
  display: inline-block;
  background: url(../img/dsImg_12.jpg) no-repeat left center;
  padding-left: 18px;
  margin-left: 20px;
  margin-right: 30px;
  position: relative;
}

.ds_top .top_box1 .fl_left .info i {
  position: absolute;
  background: url(../img/dsImg_11.jpg) no-repeat right center;
  width: 7px;
  height: 4px;
  right: -10px;
  top: 20px;
}

.ds_top .top_box1 .fl_left .same {
  display: inline-block;
  height: 42px;
  line-height: 42px;
}

.ds_top .top_box1 .fl_left a {
  color: #343434;
  text-decoration: none;
  cursor: pointer;
}

.ds_top .top_box1 .fl_left a:hover {
  color: crimson;
}

.ds_top .top_box1 .fr_right {
  float: right;
}

.ds_top .top_box1 .fr_right .same {
  display: inline-block;
  height: 42px;
  line-height: 42px;
}

.ds_top .top_box1 .fr_right a {
  color: #343434;
  text-decoration: none;
  cursor: pointer;
}

.ds_top .top_box1 .fr_right .same {
  width: 110px;
  text-align: center;
  background: url(../img/dsImg_9.jpg) no-repeat right center;
}

.ds_top .top_box1 .fr_right .same i {
  background: url(../img/dsImg_11.jpg) no-repeat right center;
  width: 7px;
  height: 4px;
  margin-left: 4px;
  display: inline-block;
  vertical-align: middle;
}

.ds_top .top_box1 .fr_right .myself {
  position: relative;
  cursor: pointer;
}

.ds_top .top_box1 .fr_right .myself ul {
  z-index: 999;
  overflow: hidden;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 3px 3px;
  position: absolute;
  top: 42px;
  left: 0;
  width: 150px;
  background: #fff;
  display: none;
}

.ds_top .top_box1 .fr_right .myself ul li {
  width: 148px;
}

.ds_top .top_box1 .fr_right .myself ul li a {
  color: #343434;
  text-decoration: none;
  cursor: pointer;
}

.ds_top .top_box1 .fr_right .buy {
  padding-left: 14px;
  position: relative;
  width: 135px;
}

.ds_top .top_box1 .fr_right .buy img {
  position: absolute;
  top: 13px;
  left: 20px;
}

.ds_top .top_box1 .fr_right a:hover {
  color: crimson;
}

.ds_top .top_box2 {
  background: #f3210a;
}

.ds_top .top_box2 .search_box {
  width: 1200px;
  margin: 0 auto;
  height: 70px;
}

.ds_top .top_box2 .search_box p {
  line-height: 70px;
  color: #fff;
  font-weight: bold;
  font-size: 26px;
  float: left;
}

.ds_top .top_box2 .search_box p a {
  color: #fff;
}

.ds_top .top_box2 .search_box .right_s {
  float: right;
  margin-top: 12.5px;
}

.ds_top .top_box2 .search_box .right_s .text {
  width: 427px;
  height: 45px;
  line-height: 45px;
  padding-left: 45px;
  background: url(../img/dsImg_8.jpg) no-repeat 21px center #fff;
  display: inline-block;
  border-radius: 5px 0px 0px 5px;
  vertical-align: top;
}

.ds_top .top_box2 .search_box .right_s .search {
  vertical-align: top;
  box-shadow: 1px 1px 5px #ccc;
  display: inline-block;
  width: 116px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 0px 5px 5px 0px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background: #343434;
}

.ds_container {
  width: 1200px;
  margin: 15px auto;
  overflow: hidden;
}

.ds_container .mycar {
  width: 100%;
}

.ds_container .mycar .navigation {
  color: #989898;
}

.ds_container .mycar .navigation span {
  color: #343434;
  cursor: pointer;
  line-height: 35px;
  display: inline-block;
  margin: 0 20px;
}

.ds_container .mycar .navigation a {
  color: #343434;
}

.ds_container .mycar .navigation span:nth-child(1) {
  margin: 0px;
  cursor: default;
}

.ds_container .mycar .noGoods {
  margin: 110px auto;
  overflow: hidden;
  width: 440px;
  display: none;
}

.ds_container .mycar .noGoods img {
  display: block;
  float: left;
  width: 100px;
  height: 98px;
}

.ds_container .mycar .noGoods p:nth-child(2) {
  font-size: 30px;
}

.ds_container .mycar .noGoods a {
  color: #F2323B;
  line-height: 35px;
}

.ds_container .mycar .shopper {
  width: 100%;
}

.ds_container .mycar .shopper #cart {
  width: 100%;
}

.ds_container .mycar .shopper #cart .car_info {
  width: 100%;
  height: 40px;
  line-height: 40px;
}

.ds_container .mycar .shopper #cart .car_info .info1 {
  float: left;
  margin-left: 25px;
  width: 345px;
  margin-right: 30px;
}

.ds_container .mycar .shopper #cart .car_info .info1 .shop_all {
  margin-right: 90px;
}

.ds_container .mycar .shopper #cart .car_info .guige {
  width: 370px;
  text-align: center;
}

.ds_container .mycar .shopper #cart .car_info p {
  float: left;
}

.ds_container .mycar .shopper #cart .car_info .danjia,
.ds_container .mycar .shopper #cart .car_info .zongnum,
.ds_container .mycar .shopper #cart .car_info .xiaoji,
.ds_container .mycar .shopper #cart .car_info .caozuo {
  width: 100px;
  text-align: center;
}

.ds_container .mycar .shopper #cart .shop {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #B6B6B6;
}

.ds_container .mycar .shopper #cart .shop a {
  color: #343434;
}

.ds_container .mycar .shopper #cart .goods {
  border-bottom: 1px solid #B6B6B6;
  padding: 30px 0;
  overflow: hidden;
}

.ds_container .mycar .shopper #cart .goods .item_left {
  margin-left: 25px;
  width: 345px;
  margin-right: 30px;
  float: left;
  display: flex;
}

.ds_container .mycar .shopper #cart .goods .item_left .good_check {
  width: 15px;
  height: 15px;
  vertical-align: top;
}

.ds_container .mycar .shopper #cart .goods .item_left img {
  width: 96px;
  height: 96px;
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
}

.ds_container .mycar .shopper #cart .goods .item_left .item_center {
  float: left;
  margin-left: 20px;
  vertical-align: top;
  flex: 1;
}

.ds_container .mycar .shopper #cart .goods .item_left .item_center .good_name {
  line-height: 23px;
}

.ds_container .mycar .shopper #cart .goods .item_left .item_center .good_name a {
  color: #343434;
}

.ds_container .mycar .shopper #cart .goods .item_left .item_center .itemNumber {
  color: #8c8c8c;
}

.ds_container .mycar .shopper #cart .goods .item_side {
  width: 330px;
  height: 46px;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center;
  margin-right: 35px;
}

.ds_container .mycar .shopper #cart .goods .item_side .color {
  border-right: 1px solid #ccc;
  width: 110px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  height: 30px;
  text-align: left;
  vertical-align: middle;
  padding: 5px;
}

.ds_container .mycar .shopper #cart .goods .item_side .type {
  text-align: left;
  display: inline-block;
  height: 30px;
  vertical-align: middle;
  padding: 5px;
}

.ds_container .mycar .shopper #cart .goods .item_side .num {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
}

.ds_container .mycar .shopper #cart .goods .item_side .num .nownum {
  padding-left: 15px;
  box-sizing: border-box;
  display: inline-block;
  width: 50px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  box-shadow: 1px 1px 5px #ccc;
}

.ds_container .mycar .shopper #cart .goods .item_side .num .fuhao {
  font-size: 18px;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #CCCCCC;
  line-height: 30px;
  text-align: center;
  border: none;
  outline: none;
}

.ds_container .mycar .shopper #cart .goods .side1 {
  padding-top: 7px;
  width: 100px;
  text-align: center;
}

.ds_container .mycar .shopper #cart .goods .side1 .good_price {
  text-align: center;
}

.ds_container .mycar .shopper #cart .goods .side1 .yuanjia {
  text-align: center;
  font-size: 12px;
  color: #ccc;
  text-decoration: line-through;
}

.ds_container .mycar .shopper #cart .goods .sumnum {
  width: 100px;
  text-align: center;
}

.ds_container .mycar .shopper #cart .goods .side2 {
  color: #FF0C17;
  font-weight: bold;
  padding-top: 10px;
  width: 100px;
  padding-left: 15px;
}

.ds_container .mycar .shopper #cart .goods .side2 p {
  display: inline-block;
}

.ds_container .mycar .shopper #cart .goods .side3 {
  width: 100px;
  text-align: center;
  padding-top: 10px;
}

.ds_container .mycar .shopper #cart .goods .side3 .good_del {
  width: 100%;
}

.ds_container .mycar .shopper #cart .goods .side3 .good_del a {
  display: block;
  width: 15px;
  height: 15px;
  margin-left: 20px;
  margin-bottom: 15px;
  background: url(../img/dsImg_56.jpg) no-repeat;
}

.ds_container .mycar .shopper #cart .goods > div {
  vertical-align: top;
  display: inline-block;
}

.ds_container .mycar .shopper .addup .add_left {
  float: left;
}

.ds_container .mycar .shopper .addup .add_left #allchecked {
  margin-left: 25px;
}

.ds_container .mycar .shopper .addup .add_left #allchecked .checkall {
  display: inline-block;
  line-height: 70px;
  vertical-align: middle;
}

.ds_container .mycar .shopper .addup .add_left #allchecked span {
  line-height: 70px;
  vertical-align: middle;
}

.ds_container .mycar .shopper .addup .add_left #delall {
  margin: 0 20px;
}

.ds_container .mycar .shopper .addup .add_left #delall a {
  color: #8C8C8C;
}

.ds_container .mycar .shopper .addup .add_left p {
  display: inline-block;
}

.ds_container .mycar .shopper .addup .add_right {
  float: right;
  margin-top: 20px;
  height: 70px;
  line-height: 70px;
}

.ds_container .mycar .shopper .addup .add_right p {
  float: left;
}

.ds_container .mycar .shopper .addup .add_right em {
  color: #ff0c17;
}

.ds_container .mycar .shopper .addup .add_right .account {
  background: #f2323b;
  color: #e8e4e4;
  font-size: 20px;
  line-height: 70px;
  width: 165px;
  text-align: center;
  font-weight: bold;
  margin-left: 10px;
}
